@mixin flex(
  $direction: row,
  $wrap: wrap,
  $alignItems: flex-start,
  $justifyContent: flex-start
) {
  display: flex;
  flex-flow: $direction $wrap;
  align-items: $alignItems;
  justify-content: $justifyContent;
}
